html {
  scroll-behavior: smooth;
  transition: all 0.4s ease-out;
}
nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  transition: all 0.4s ease-out;
}

.nav-background {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 100;

  background-color: white;
  height: 70px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
    0px -4px 6px -4px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-out;
}
.nav-menu-svg {
  display: none;
  transition: all 0.4s ease-out;
}

.nav-menu-logo {
  margin-left: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  font-size: 32px;
  font-family: Poppins;
  font-weight: 300;
  transition: all 0.4s ease-out;
}
.nav-quick-menu {
  margin-right: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  transition: all 0.4s ease-out;
}
.nav-quick-menu-button {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  padding: 6px 14px;

  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  border-radius: 10px;
  background-color: transparent;
  transition: all 0.2s ease-out;
}
.nav-quick-menu-button:hover {
  padding: 6px 14px;
  border-radius: 4px;
  border: 1px solid rgba(225, 239, 250, 0.88);
  background: rgba(225, 239, 250, 0.43);
  backdrop-filter: blur(15px);
  cursor: pointer;
}
.nav-quick-menu-button-call {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;

  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  border-radius: 4px;
  background: linear-gradient(180deg, #6da610 0%, #519211 100%);
  transition: all 0.4s ease-out;
  cursor: pointer;
}
.nav-quick-menu-button-call-text {
  margin: 0;

  font-family: Poppins;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  transition: all 0.4s ease-out;
}
.nav-quick-menu-button-call-svg {
  width: 22px;
  height: 22px;
  transition: all 0.4s ease-out;
}

/* Portrait Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .nav-background {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 70px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
      0px -4px 6px -4px rgba(0, 0, 0, 0.1);
  }
  .nav-menu-logo {
    margin-left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 29px;

    font-size: 32px;
    font-family: Poppins;
    font-weight: 300;
  }
  .nav-quick-menu {
    margin-right: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}

/* Small Tablets */
@media (min-width: 481px) and (max-width: 767px) {
  .nav-quick-menu-button {
    display: none;
  }
  .nav-menu-svg {
    display: block;
  }
  .nav-menu-logo {
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 29px;

    font-size: 32px;
    font-family: Poppins;
    font-weight: 300;
  }
  .nav-quick-menu {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}

/* Smartphones */
@media (min-width: 320px) and (max-width: 480px) {
  .nav-quick-menu-button {
    display: none;
  }
  .nav-menu-svg {
    display: block;
  }
  .nav-menu-logo {
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;

    font-size: 26px;
    font-family: Poppins;
    font-weight: 300;
  }
  .nav-quick-menu {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .nav-quick-menu-button-call-text {
    font-size: 14px;
  }
  .nav-quick-menu-button-call-svg {
    width: 16px;
    height: 16px;
  }
}

/* Exceptions */
@media (max-width: 319px) {
  .nav-quick-menu-button {
    display: none;
  }
  .nav-menu-svg {
    display: block;
  }
  .nav-menu-logo {
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 29px;

    font-size: 32px;
    font-family: Poppins;
    font-weight: 300;
  }
  .nav-quick-menu {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  .nav-quick-menu-button-call-text {
    display: none;
  }
  .nav-quick-menu-button-call-svg {
    width: 18px;
    height: 18px;
  }
  .nav-logo-text {
    visibility: hidden;
  }
}
