div.sticky {
  margin-top: 120px;
}
.presentation-green-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  margin: 50px 80px 0 80px;
}

.presentation-green-gradient {
  z-index: 1;
  flex: 1;
  padding: 89px 80px;
  max-height: 170px;
  background: linear-gradient(
    90deg,
    #6da610 0%,
    #519211 77.72%,
    rgba(81, 146, 17, 0) 100%
  );
  border-radius: 4px;
}

.presentation-img {
  margin-left: -250px;
  height: 330px;
}

.presentation-text {
  margin: 0;

  font-family: Righteous;
  font-size: 36px;
  color: white;
  text-transform: uppercase;
  text-wrap: balance;
  letter-spacing: 1.5px;
}
.presentation-special-text {
  display: block;
  margin-bottom: 10px;
}

/* @media (min-width: 1153px) and (max-width: 1366px) {  
    .presentation-text {
        font-size: 36px;
    }
    .presentation-green-gradient {
        padding: 68px 80px;
    }
    .presentation-img {  
        height: 289px;
    }
} 

@media (min-width: 769px) and (max-width: 1152px) {
    .presentation-text {
        font-size: 36px;
    }
    .presentation-green-gradient {
        padding: 68px 80px;
    }
    .presentation-img {  
        height: 289px;
    }
} 

@media (min-width: 481px) and (max-width: 767px) {
    .presentation-text {
        font-size: 26px;
    }
    .presentation-green-gradient {
        background: linear-gradient(90deg, #6DA610 0%, #519211 77.72%, rgba(81, 146, 17, 90.00) 100%);
    }
    .presentation-img {  
        height: 275px;
    }
    .presentation-img {
        display: none; 
    }
} 

@media (min-width: 321px) and (max-width: 480px) {
    .presentation-green-image {
        margin: 50px 0px 50px 0px;
    }
    .presentation-text {
        font-size: 26px;
    }
    .presentation-green-gradient {
        background: linear-gradient(90deg, #6DA610 0%, #519211 77.72%, rgba(81, 146, 17, 90.00) 100%);
        border-radius: 0px;
    }
    .presentation-img {
        display: none;
    }
} */

/* Desktop L */
@media (min-width: 1441px) and (max-width: 2560px) {
}

/* Laptop L / Desktop */
@media (min-width: 1024px) and (max-width: 1440px) {
}

/* Laptop */
@media (min-width: 768px) and (max-width: 1024px) {
  .presentation-text {
    font-size: 32px;
  }
  .presentation-img {
    margin-left: -440px;
    height: 316px;
  }
  .presentation-green-gradient {
    flex: 1 200px;
  }
}

/* Tablets */
@media (min-width: 525px) and (max-width: 768px) {
  .presentation-img {
    display: none;
  }
  .presentation-green-image {
    justify-content: center;
    margin: 50px 30px 0 30px;
  }
  .presentation-text {
    font-size: 32px;
  }
  .presentation-green-gradient {
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(
      90deg,
      #6da610 0%,
      #519211 77.72%,
      rgba(81, 146, 17, 90) 100%
    );
  }
}

/* Mobile S-L */
@media (min-width: 320px) and (max-width: 525px) {
  .presentation-img {
    display: none;
  }
  .presentation-green-image {
    justify-content: center;
    margin: 40px 30px 0 30px;
  }
  .presentation-text {
    font-size: 20px;
  }
  .presentation-green-gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      90deg,
      #6da610 0%,
      #519211 77.72%,
      rgba(81, 146, 17, 90) 100%
    );
    padding: 50px 29px;
  }
}
