.reviews-section-header {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 50px 80px 0 80px;
}
.reviews-text {
  flex: 1;
  margin: 0;
}
.reviews-section-header a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.reviews-links {
  margin-left: 20px;

  font-family: Outfit;
  font-weight: 500;
  color: black;
}

.reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;

  margin: 50px 80px 0 80px;
}
.reviews a {
  margin: 0 30px 0 30px;
}
.review-box {
  height: 180px;
  width: 460px;
  border: solid;
  border-radius: 4px;
  border-color: rgba(198, 217, 234, 0.5);
  padding: 20px;
}
.hidden-box {
  display: none;
}

/* Tablets */
@media (min-width: 525px) and (max-width: 768px) {
  .reviews-section-header {
    margin: 50px 30px 0 30px;
  }
}

/* Mobile S-L */
@media (min-width: 320px) and (max-width: 525px) {
  .reviews-section-header {
    margin: 50px 30px 0 30px;
  }
}
