section.sticky {
  margin-top: 115px;
}
.presentation-green-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  margin: 50px 80px 0 80px;
  transition: all 0.4s ease-out;
}

.presentation-green-gradient {
  flex: 1;
  padding: 89px 70px;
  max-height: 170px;
  background: linear-gradient(
    90deg,
    #6da610 0%,
    #519211 77.72%,
    rgba(81, 146, 17, 0) 100%
  );
  border-radius: 4px;
  transition: all 0.4s ease-out;
}

.presentation-img {
  z-index: -1;
  margin-left: -250px;
  height: 330px;
  transition: all 0.4s ease-out;
}

.presentation-text {
  margin: 0;

  font-family: Righteous;
  font-size: 36px;
  color: white;
  text-transform: uppercase;
  text-wrap: balance;
  letter-spacing: 1.5px;
  transition: all 0.2s ease-out;
}
.presentation-special-text {
  display: block;
  margin-bottom: 10px;
  transition: all 0.4s ease-out;
}

/* Laptop */
@media (min-width: 768px) and (max-width: 1024px) {
  .presentation-text {
    font-size: 32px;
  }
  .presentation-img {
    margin-left: -440px;
    height: 316px;
  }
  .presentation-green-gradient {
    flex: 1 200px;
  }
}

/* Tablets */
@media (min-width: 525px) and (max-width: 768px) {
  .presentation-img {
    display: none;
    transition: all 0.4s ease-out;
  }
  .presentation-green-image {
    justify-content: center;
    margin: 50px 30px 0 30px;
  }
  .presentation-text {
    font-size: 32px;
  }
  .presentation-green-gradient {
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(
      90deg,
      #6da610 0%,
      #519211 77.72%,
      rgba(81, 146, 17, 90) 100%
    );
  }
}

/* Mobile S-L */
@media (min-width: 320px) and (max-width: 525px) {
  .presentation-img {
    display: none;
  }
  .presentation-green-image {
    justify-content: center;
    margin: 40px 20px 0 20px;
  }
  .presentation-text {
    font-size: 22px;
  }
  .presentation-green-gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      90deg,
      #6da610 0%,
      #519211 77.72%,
      rgba(81, 146, 17, 90) 100%
    );
    padding: 50px 29px;
  }
}
