.presentation-rating {
  margin: 40px 80px 0 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  transition: all 0.4s ease-out;
}
.presentation-5stars-img {
  width: 168px;
  transition: all 0.4s ease-out;
}
.gm-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex: 1;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid #6da610;

  font-family: Outfit;
  font-size: 22px;
  font-weight: 600;
  color: black;
  transition: all 0.4s ease-out;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  transition: all 0.4s ease-out;
}

/* Laptop */
@media (min-width: 768px) and (max-width: 1024px) {
  .gm-rating {
    font-size: 18px;
  }
}

/* Tablets */
@media (min-width: 526px) and (max-width: 768px) {
  .link {
    width: 0px;
  }
  .presentation-5stars-img {
    width: 134px;
  }
  .presentation-rating {
    margin: 40px 30px 0 30px;
  }
  .gm-rating {
    font-size: 18px;
  }
}

/* Mobile S-L */
@media (min-width: 320px) and (max-width: 526px) {
  .link {
    width: 0px;
    margin-right: 20px;
  }
  .optional-text {
    display: none;
  }
  .presentation-5stars-img {
    width: 88px;
  }
  .presentation-rating {
    margin: 20px 20px 0 20px;
    gap: 24px;
  }
  .gm-rating {
    gap: 10px;
    font-size: 14px;
  }
  .link-svg {
    width: 18px;
  }
}
