.location-guide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;

  text-transform: uppercase;
  font-family: Nunito;
  font-size: 14px;
  transition: all 0.4s ease-out;
}
.location-guide-svg {
  width: 18px;
  height: 18px;
  transition: all 0.4s ease-out;
}
.p-location-guide {
  margin: 0;
  padding: 12px 0px;
  transition: all 0.4s ease-out;
}

/* Laptop */
@media (min-width: 768px) and (max-width: 1024px) {
  .location-guide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;

    text-transform: uppercase;
    font-family: Nunito;
    font-size: 14px;
  }
  .location-guide-svg {
    width: 18px;
    height: 18px;
  }
}

/* Tablets */
@media (min-width: 526px) and (max-width: 768px) {
  .location-guide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;

    text-transform: uppercase;
    font-family: Nunito;
    font-size: 12px;
  }
  .location-guide-svg {
    width: 18px;
    height: 18px;
  }
}

/* Mobile S-L */
@media (min-width: 320px) and (max-width: 526px) {
  .location-guide {
    text-transform: uppercase;
    font-family: Nunito;
    font-size: 12px;
    gap: 14px;
  }
  .location-guide-svg {
    width: 16px;
    height: 16px;
  }
}
