.location-guide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  text-transform: uppercase;
  font-family: Nunito;
  font-size: 14px;
  transition: 0.4s ease-out;
}
.location-guide-svg {
  width: 18px;
  height: 18px;
  transition: 0.4s ease-out;
}
.p-location-guide {
  margin: 0;
  padding: 12px 0;
  transition: 0.4s ease-out;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .location-guide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    text-transform: uppercase;
    font-family: Nunito;
    font-size: 14px;
  }
  .location-guide-svg {
    width: 18px;
    height: 18px;
  }
}
.nav-background,
nav.sticky {
  z-index: 100;
  width: 100%;
  transition: 0.4s ease-out;
}
html {
  scroll-behavior: smooth;
  transition: 0.4s ease-out;
}
nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
}
.nav-background {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  height: 70px;
  overflow: hidden;
  box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1),
    0 -4px 6px -4px rgba(0, 0, 0, 0.1);
}
.hidden,
.mobile-btn,
.nav-menu-svg {
  display: none;
  transition: 0.4s ease-out;
}
.nav-menu-logo,
.nav-quick-menu {
  display: flex;
  align-items: center;
  transition: 0.4s ease-out;
}
.nav-menu-logo {
  margin-left: 80px;
  justify-content: center;
  gap: 40px;
  font-size: 32px;
  font-family: Poppins;
  font-weight: 300;
}
.nav-quick-menu {
  margin-right: 80px;
  justify-content: center;
  gap: 36px;
}
.nav-quick-menu-button {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  padding: 6px 14px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: transparent;
  transition: 0.2s ease-out;
}
.nav-quick-menu-button:hover {
  padding: 6px 14px;
  border-radius: 4px;
  border: 1px solid rgba(225, 239, 250, 0.88);
  background: rgba(225, 239, 250, 0.43);
  backdrop-filter: blur(15px);
  cursor: pointer;
}
.nav-quick-menu-button-call {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  gap: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  background: linear-gradient(180deg, #6da610 0, #519211 100%);
  transition: 0.4s ease-out;
  cursor: pointer;
}
.food,
.gm-rating {
  border-radius: 4px;
}
.nav-quick-menu-button-call-text {
  margin: 0;
  font-family: Poppins;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  transition: 0.4s ease-out;
}
.nav-quick-menu-button-call-svg {
  width: 22px;
  height: 22px;
  transition: 0.4s ease-out;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .nav-background {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.1),
      0 -4px 6px -4px rgba(0, 0, 0, 0.1);
  }
  .nav-menu-logo {
    margin-left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 32px;
    font-family: Poppins;
    font-weight: 300;
  }
  .nav-quick-menu {
    margin-right: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .nav-quick-menu-button {
    display: none;
  }
  .nav-menu-svg {
    display: block;
  }
  .nav-menu-logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 32px;
    font-family: Poppins;
    font-weight: 300;
  }
  .nav-quick-menu {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .nav-quick-menu-button {
    display: none;
  }
  .nav-menu-svg {
    display: block;
  }
  .nav-menu-logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 26px;
    font-family: Poppins;
    font-weight: 300;
  }
  .nav-quick-menu {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .nav-quick-menu-button-call-text {
    font-size: 14px;
  }
  .nav-quick-menu-button-call-svg {
    width: 16px;
    height: 16px;
  }
}
@media (max-width: 319px) {
  .nav-quick-menu-button,
  .nav-quick-menu-button-call-text {
    display: none;
  }
  .nav-menu-svg {
    display: block;
  }
  .nav-menu-logo {
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 29px;
    font-size: 32px;
    font-family: Poppins;
    font-weight: 300;
  }
  .nav-quick-menu {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  .nav-quick-menu-button-call-svg {
    width: 18px;
    height: 18px;
  }
  .nav-logo-text {
    visibility: hidden;
  }
}
.side-menu {
  display: none;
}
@media (max-width: 767px) {
  .side-menu li,
  .side-menu li:hover {
    padding: 8px 16px;
  }
  .side-menu {
    height: 100%;
    width: 0;
    padding-top: 97px;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 99;
    top: 40px;
    left: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #fff;
    box-shadow: 4px 0 6px -4px rgba(0, 0, 0, 0.2);
    transition: width 0.8s;
  }
  .side-menu.open {
    width: 184px;
  }
  .side-menu.sticky {
    top: 0;
    transition: 0.2s ease-out;
  }
  .side-menu li {
    margin: 10px -2px 3px 10px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    gap: 10px;
    user-select: none;
  }
  .close-menu-btn {
    height: 12px;
    width: 12px;
    position: absolute;
    top: 83px;
    right: 12px;
    cursor: pointer;
  }
}
section.sticky {
  margin-top: 115px;
}
.presentation-green-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin: 50px 80px 0;
  transition: 0.4s ease-out;
}
.presentation-green-gradient {
  flex: 1;
  padding: 89px 70px;
  max-height: 170px;
  background: linear-gradient(
    90deg,
    #6da610 0,
    #519211 77.72%,
    rgba(81, 146, 17, 0) 100%
  );
  border-radius: 4px;
  transition: 0.4s ease-out;
}
.presentation-img {
  z-index: -1;
  margin-left: -250px;
  width: auto;
  height: 330px;
  transition: 0.4s ease-out;
}
.presentation-text {
  margin: 0;
  font-family: Righteous;
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
  text-wrap: balance;
  letter-spacing: 1.5px;
  transition: 0.2s ease-out;
}
.food-title,
.gm-rating {
  font-family: Outfit;
  font-weight: 600;
}
.presentation-special-text {
  display: block;
  margin-bottom: 10px;
  transition: 0.4s ease-out;
}
.presentation-rating {
  margin: 40px 80px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  transition: 0.4s ease-out;
}
.gm-rating,
.link {
  display: flex;
  align-items: center;
  transition: 0.4s ease-out;
}
.presentation-5stars-img {
  width: 168px;
  transition: 0.4s ease-out;
}
.gm-rating {
  justify-content: center;
  gap: 10px;
  flex: 1;
  padding: 10px;
  border: 2px solid #6da610;
  font-size: 22px;
  color: #000;
}
.link {
  justify-content: center;
  margin-right: 30px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .presentation-text {
    font-size: 32px;
  }
  .presentation-img {
    margin-left: -440px;
    height: 316px;
  }
  .presentation-green-gradient {
    flex: 1 200px;
  }
  .gm-rating {
    font-size: 18px;
  }
}
@media (min-width: 526px) and (max-width: 768px) {
  .location-guide {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    text-transform: uppercase;
    font-family: Nunito;
    font-size: 12px;
  }
  .location-guide-svg {
    width: 18px;
    height: 18px;
  }
  .link {
    width: 0;
  }
  .presentation-5stars-img {
    width: 134px;
  }
  .presentation-rating {
    margin: 40px 30px 0;
  }
  .gm-rating {
    font-size: 18px;
  }
}
@media (min-width: 320px) and (max-width: 526px) {
  .location-guide {
    text-transform: uppercase;
    font-family: Nunito;
    font-size: 12px;
    gap: 14px;
  }
  .location-guide-svg {
    width: 16px;
    height: 16px;
  }
  .link {
    width: 0;
    margin-right: 24px;
  }
  .optional-text {
    display: none;
  }
  .presentation-5stars-img {
    width: 88px;
  }
  .presentation-rating {
    margin: 20px 30px 0;
    gap: 24px;
  }
  .gm-rating {
    gap: 10px;
    font-size: 14px;
  }
  .link-svg {
    width: 18px;
  }
}
.food-image {
  height: 130px;
  margin-right: 20px;
  transition: 0.4s ease-out;
}
.food {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 10px 80px 0;
  padding: 25px 35px;
  border: 1px solid rgba(198, 217, 234, 0.5);
  background: linear-gradient(
    270deg,
    rgba(240, 248, 255, 0.3) 58.77%,
    rgba(236, 238, 241, 0) 100%,
    rgba(234, 245, 255, 0) 100%,
    rgba(236, 238, 241, 0) 100%
  );
  transition: 0.4s ease-out;
}
.food-text {
  height: 130px;
  flex: 1;
  display: grid;
  grid-template-rows: 0fr 1fr;
  row-gap: 8px;
  margin-right: 20px;
  transition: 0.4s ease-out;
}
.food-description,
.food-title,
.ingredients {
  margin: 0;
  transition: 0.4s ease-out;
}
.exceptions {
  display: flex;
  align-items: center;
  height: 70px;
  transition: 0.4s ease-out;
}
.narrow {
  padding: 10px 30px;
  transition: 0.4s ease-out;
}
.food-title {
  font-size: 22px;
  letter-spacing: 0.26px;
}
.food-description {
  flex: 1;
  font-family: Nunito;
}
.food-ingredients {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  gap: 4px;
  transition: 0.4s ease-out;
}
.ingredients {
  font-family: Outfit;
  font-weight: 400;
  font-size: 12px;
  text-wrap: nowrap;
  overflow: hidden;
  padding: 4px 16px;
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    rgba(198, 217, 234, 0.5) 0.05%,
    #e4f4ff 33.35%,
    rgba(198, 217, 234, 0.5) 99.94%
  );
}
.first {
  border-radius: 30px 8px 8px 30px;
  transition: 0.4s ease-out;
}
.last {
  border-radius: 8px 30px 30px 8px;
  transition: 0.4s ease-out;
}
.category-name,
.dropdown {
  height: 54px;
  transition: 0.4s ease-out;
}
.menu-section-title {
  display: flex;
  justify-content: center;
}
.menu-section-text {
  font-family: Outfit;
  font-weight: 800;
  font-size: 30px;
  margin: 70px 0 0;
}
.menu-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 80px 0;
  gap: 14px;
  transition: 0.4s ease-out;
}
.category-name {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: start;
  padding: 0 0 0 30px;
  gap: 30px;
  border-radius: 3px;
  border: 2px solid #6da610;
}
.category-name-text {
  margin: 0;
  font-family: Outfit;
  font-weight: 500;
  font-size: 24px;
}
.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  border-radius: 3px;
  background: linear-gradient(90deg, #6aa310 0, #599711 96.76%) padding-box,
    linear-gradient(90deg, #6aa310 0, #599711 96.76%) border-box;
  border: 2px solid transparent;
  cursor: pointer;
}
.arrow {
  transition: 0.2s ease-out;
}
.div-new-product-image,
.new-product,
.new-product-text,
.section-text {
  transition: 0.4s ease-out;
}
.rotate {
  rotate: 180deg;
}
.focus-icon,
.focus-text {
  filter: invert(1);
}
.focus-box {
  background: linear-gradient(90deg, #6aa310 38.68%, #599711 91.18%) padding-box,
    linear-gradient(90deg, #6aa310 0, #599711 96.76%) border-box;
  border: 2px solid transparent;
}
.menu-link-svg {
  height: 20px;
}
.new-product-price,
.new-section-title {
  display: flex;
  justify-content: center;
  transition: 0.4s ease-out;
}
.section-text {
  font-family: Outfit;
  font-weight: 800;
  font-size: 30px;
  margin: 50px 0 0;
}
.div-new-product-image {
  height: 100px;
  margin-right: 20px;
}
.new-product {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 30px 80px 0;
  padding: 25px 35px;
  border-radius: 4px;
  border: 1px solid rgba(198, 217, 234, 0.5);
  background: linear-gradient(
    270deg,
    rgba(240, 248, 255, 0.3) 58.77%,
    rgba(236, 238, 241, 0) 100%,
    rgba(234, 245, 255, 0) 100%,
    rgba(236, 238, 241, 0) 100%
  );
}
.new-product-text {
  flex: 1;
  display: grid;
  grid-template-rows: 1fr 2fr;
  row-gap: 4px;
  margin-right: 20px;
}
.new-product-title {
  margin: 0;
  font-family: Outfit;
  font-weight: 600;
  font-size: 22px;
  transition: 0.4s ease-out;
}
.new-product-date,
.new-product-description {
  margin: 0;
  font-weight: 400;
  transition: 0.4s ease-out;
}
.new-product-description {
  font-family: Nunito;
}
.new-product-date {
  font-family: Outfit;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}
.changeable-text,
.permanent-text {
  font-family: Outfit;
  font-weight: 700;
  color: #000;
  letter-spacing: 0.26px;
  transition: 0.4s ease-out;
}
.changeable-text {
  font-family: Outfit;
  font-weight: 800;
  font-size: 24px;
  background: linear-gradient(90deg, #6aa310 0, #599711 96.76%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.4s ease-out;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .food-title,
  .new-product-title {
    font-size: 20px;
  }
  .food-description,
  .new-product-description,
  .permanent-text {
    font-size: 14px;
  }
  .food-ingredients {
    display: none;
  }
  .changeable-text {
    font-size: 22px;
  }
}
.reviews-section-header {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 50px 80px 0;
  transition: 0.4s ease-out;
}
.reviews-text {
  flex: 1;
  margin: 0;
}
.reviews-section-header a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.reviews-links {
  margin-left: 20px;
  font-family: Outfit;
  font-weight: 500;
  color: #000;
}
.reviews {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  margin: 30px 80px 0;
  transition: 0.4s ease-out;
}
.reviews a {
  margin: 0 30px;
}
.review-box {
  height: 180px;
  width: 460px;
  border: solid rgba(198, 217, 234, 0.5);
  border-radius: 4px;
  padding: 20px 20px 8px;
  display: flex;
  flex-direction: column;
  transition: 0.4s ease-out;
}
.hidden-box {
  display: none;
}
.review-box-user {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;
}
.review-box-user a,
.review-box-user p {
  margin: 0;
}
.review-username {
  font-family: Outfit;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.review-date,
.user-review {
  font-size: 14px;
  font-weight: 400;
}
.review-date {
  font-family: Outfit;
  letter-spacing: 0.2;
  flex: 1;
}
.review-options {
  cursor: pointer;
}
.options-dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  bottom: 23px;
  right: 38px;
  border: solid rgba(198, 217, 234, 0.5);
  border-radius: 2px;
  background: #fff;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}
.show {
  display: block;
}
.review-box-text {
  flex: 1;
}
.user-review {
  font-family: Nunito;
  letter-spacing: 0.2px;
}
.footer-copyright,
.footer-logo-text,
.footer-privacy {
  font-weight: 300;
  color: #fff;
}
.line {
  width: 100%;
  height: 1px;
  background: rgba(198, 217, 234, 0.5);
}
.review-box-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  transition: 0.4s ease-out;
}
@media (min-width: 480px) and (max-width: 520px) {
  .reviews-links {
    margin-left: 14px;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .reviews-header-text {
    display: none;
  }
}
.footer-background {
  margin-top: 70px;
  background: linear-gradient(180deg, #6da610 0, #519211 100%);
  padding: 24px 0;
}
.footer-content {
  margin: 0 80px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  transition: 0.4s ease-out;
}
.footer-logo {
  display: flex;
  align-items: center;
}
.footer-logo-text {
  margin: 0 2px 0 0;
  font-family: Poppins;
  font-size: 32px;
}
.footer-copyright {
  margin-bottom: -5px;
  font-family: Outfit;
  font-size: 10px;
}
.privacy-documentation {
  display: flex;
  align-items: center;
  gap: 6px;
}
.footer-privacy {
  padding: 12px 26px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(4px);
  cursor: pointer;
  font-family: Poppins;
  font-size: 14px;
  letter-spacing: 0.2px;
  transition: 0.4s ease-out;
}
.footer-privacy:hover {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(9px);
}
@media (min-width: 525px) and (max-width: 768px) {
  .presentation-img {
    display: none;
    transition: 0.4s ease-out;
  }
  .presentation-green-image {
    justify-content: center;
    margin: 50px 30px 0;
  }
  .presentation-text {
    font-size: 32px;
  }
  .presentation-green-gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #6da610 0, #519211 77.72%, #519211 100%);
  }
  .div-food-image,
  .food-image,
  .food-text {
    height: 80px;
  }
  .food {
    margin: 10px 30px 0;
    padding: 15px 25px;
  }
  .changeable-text,
  .food-title {
    font-size: 18px;
  }
  .food-text {
    display: flex;
    align-items: center;
  }
  .narrow {
    padding: 10px 30px;
  }
  .food-description,
  .food-ingredients,
  .footer-copyright,
  .new-product-date,
  .new-product-description {
    display: none;
  }
  .menu-section-text,
  .section-text {
    font-size: 24px;
  }
  .menu-category,
  .reviews {
    margin: 30px 30px 0;
  }
  .category-name-text,
  .new-product-title {
    font-size: 20px;
  }
  .new-product {
    margin: 30px 30px 0;
    padding: 15px 25px;
  }
  .div-new-product-image,
  .new-product-image {
    height: 70px;
  }
  .new-product-text {
    display: block;
  }
  .permanent-text {
    font-size: 12px;
  }
  .reviews-section-header {
    margin: 50px 30px 0;
  }
  .footer-content {
    margin: 0 30px;
  }
  .footer-privacy {
    padding: 12px 20px;
    font-size: 12px;
  }
}
@media (min-width: 320px) and (max-width: 525px) {
  .food-description,
  .food-ingredients,
  .footer-logo,
  .new-product-date,
  .new-product-description,
  .next-btn,
  .presentation-img,
  .prev-btn {
    display: none;
  }
  .presentation-green-image {
    justify-content: center;
    margin: 40px 30px 0;
  }
  .presentation-text {
    font-size: 22px;
  }
  .presentation-green-gradient {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #6da610 0, #519211 77.72%, #519211 100%);
    padding: 50px 29px;
  }
  .food {
    height: 52px;
    margin: 10px 30px 0;
    padding: 15px 25px;
  }
  .div-food-image,
  .food-image,
  .food-text {
    height: 50px;
  }
  .changeable-text,
  .food-title {
    font-size: 16px;
  }
  .food-text {
    display: flex;
    align-items: center;
  }
  .narrow {
    padding: 8px 30px;
  }
  .menu-section-text,
  .section-text {
    margin: 50px 0 0;
    font-size: 20px;
  }
  .menu-category {
    margin: 20px 30px 0;
    gap: 10px;
  }
  .category-name {
    height: 44px;
    padding-left: 20px;
    gap: 20px;
  }
  .category-name-text,
  .new-product-title {
    font-size: 18px;
  }
  .category-name-ico {
    width: 16px;
  }
  .dropdown {
    height: 44px;
    width: 44px;
  }
  .arrow0,
  .arrow1,
  .arrow2,
  .arrow3,
  .arrow4,
  .arrow5,
  .arrow6,
  .menu-link-svg {
    height: 18px;
  }
  .new-product {
    margin: 20px 30px 0;
    padding: 12px 15px;
  }
  .div-new-product-image,
  .new-product-image {
    height: 50px;
    margin-right: 7px;
  }
  .new-product-text {
    display: block;
  }
  .permanent-text {
    font-size: 10px;
  }
  .reviews-section-header {
    margin: 50px 30px 0;
  }
  .mobile-btn,
  .reviews {
    margin: 30px 30px 0;
  }
  .review-svg {
    height: 20px;
    width: 20px;
  }
  .mobile-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .mobile-next-btn,
  .mobile-prev-btn {
    height: 30px;
    width: 30px;
  }
  .dropdown-content {
    right: 38px;
  }
  .footer-content {
    margin: 0 30px;
  }
  .privacy-documentation {
    width: 100%;
    justify-content: space-between;
  }
  .footer-privacy {
    padding: 12px 24px;
    font-size: 12px;
  }
}
