.reviews-section-header {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 50px 80px 0 80px;
  transition: all 0.4s ease-out;
}
.reviews-text {
  flex: 1;
  margin: 0;
}
.reviews-section-header a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.reviews-links {
  margin-left: 20px;

  font-family: Outfit;
  font-weight: 500;
  color: black;
}

.reviews {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;

  margin: 30px 80px 0 80px;
  transition: all 0.4s ease-out;
}
.reviews a {
  margin: 0 30px 0 30px;
}
.review-box {
  height: 180px;
  width: 460px;
  border: solid;
  border-radius: 4px;
  border-color: rgba(198, 217, 234, 0.5);
  padding: 20px 20px 8px 20px;

  display: flex;
  flex-direction: column;
  transition: all 0.4s ease-out;
}
.hidden-box {
  display: none;
}

.review-box-user {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;
}
.review-box-user p,
.review-box-user a {
  margin: 0;
}
.review-username {
  font-family: Outfit;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.review-date {
  font-family: Outfit;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2;

  flex: 1;
}
.review-options {
  cursor: pointer;
}
.options-dropdown {
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  bottom: 23px;
  right: 38px;
  border: solid;
  border-radius: 2px;
  background: white;
  border-color: rgba(198, 217, 234, 0.5);
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}
.show {
  display: block;
}

.review-box-text {
  flex: 1;
}
.user-review {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
}
.line {
  width: 100%;
  height: 1px;
  background: rgba(198, 217, 234, 0.5);
}
.review-box-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  transition: all 0.4s ease-out;
}

.mobile-btn {
  display: none;
  transition: all 0.4s ease-out;
}

/* Tablets */
@media (min-width: 525px) and (max-width: 768px) {
  .reviews-section-header {
    margin: 50px 30px 0 30px;
  }
  .reviews {
    margin: 30px 30px 0 30px;
  }
}

/* Mobile S-L */
@media (min-width: 320px) and (max-width: 525px) {
  .reviews-section-header {
    margin: 50px 30px 0 30px;
  }
  .reviews {
    margin: 30px 30px 0 30px;
  }
  .review-svg {
    height: 20px;
    width: 20px;
  }
  .prev-btn,
  .next-btn {
    display: none;
  }
  .mobile-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin: 30px 30px 0 30px;
  }
  .mobile-prev-btn,
  .mobile-next-btn {
    height: 30px;
    width: 30px;
  }
  .dropdown-content {
    right: 38px;
  }
}

/* Exceptions */
@media (min-width: 480px) and (max-width: 520px) {
  .reviews-links {
    margin-left: 14px;
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .reviews-header-text {
    display: none;
  }
}
